:root{
    --color-accent: #2979ff;
    
    --buttonSize: 4rem;
    --iconSize: 2.5rem;
}
@font-face {
    font-family: SourceCodePro;
    src: url('SourceCodePro.ttf');
}
*{
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    border: none;
    font-family: 'SourceCodePro';
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(0, 0, 0, .5);
}
.top{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.right{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}
.container:first-child > li:first-child > ul{
    top: 50%;
}
.container{
    /* display: flex; */
    flex-direction: column;
    gap: .5rem;
    
    position: absolute;
    top: -50%;
    right: 110%;

    display: none;
}
/*.container.active > li > .container,*/ .container.active{
    display: flex;
}
.container li{
    background-color: rgb(59, 59, 59);
    border-radius: 1rem;
    width: var(--buttonSize);
    height: var(--buttonSize);
    position: relative;
}
.container.active > li{
    display: block;
    animation: pulse 0.2s linear 1;
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}
.container li > button{
    width: var(--buttonSize);
    height: var(--buttonSize);
    padding: calc((var(--buttonSize) - var(--iconSize))/2);
}
.container li:hover{
    background-color: var(--color-accent);
}
[class^="devicon"] {
    font-size: var(--iconSize);
}
[class^="material-symbols"] {
    font-size: var(--iconSize);
}
/* .container li i{
    position: absolute;
    font-size: 2rem;
    inset: 0;
    transform: translateY(20%);
} */

/* Tooltip */
.tooltip::before{
    content: attr(data-tooltip);
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right: 110%;

    display: none;
}
.tooltip:hover:before {
    display:block;
}