:root{
    --color-accent: #2979ff;
    --color-text: #ffffff;
    --color-button: #3b3b3b;
    --opacity: .5;
    
    --borderradius: 1rem;
    --buttonSize: 4rem;
    --iconSize: 2.5rem;
}
@font-face {
    font-family: SourceCodePro;
    src: url('SourceCodePro.ttf');
}
*{
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    border: none;
    font-family: 'SourceCodePro';
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(0, 0, 0, var(--opacity));
}
.top{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.right{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}
.container:first-child > li:first-child > ul{
    top: 50%;
}
.container{
    flex-direction: column;
    gap: .5rem;
    
    position: absolute;
    top: -50%;
    right: 110%;

    display: none;
}
.container.active{
    display: flex;
}
.container li{
    background-color: var(--color-button);
    border-radius: var(--borderradius);
    width: var(--buttonSize);
    height: var(--buttonSize);
    position: relative;
}
.container.active > li{
    display: block;
    animation: pulse 0.2s linear 1;
}
@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}
.container li > button{
    width: var(--buttonSize);
    height: var(--buttonSize);
    padding: calc((var(--buttonSize) - var(--iconSize))/2);
}
.container li:hover{
    background-color: var(--color-accent);
}
[class^="devicon"] {
    font-size: var(--iconSize);
}
[class^="material-symbols"] {
    font-size: var(--iconSize);
}

/* Tooltip */
.tooltip::before{
    content: attr(data-tooltip);
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right: 110%;

    display: none;
}
.tooltip:hover:before {
    display:block;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.bottom button{
    background-color: var(--color-button);
    border-radius: var(--borderradius);
    width: var(--buttonSize);
    height: var(--buttonSize);
}
.bottom button:hover{
    background-color: var(--color-accent);
}
.bottom button [class^="material"] {
    padding: calc((var(--buttonSize) - var(--iconSize))/2);
}


.window{
    background-color: var(--color-button);
    display: none;
    flex-direction: column;
    position: absolute;
    resize: both;
    overflow: auto;
    padding: 1rem .5rem .5rem .5rem;
    min-width: 200px;
    min-height: 150px;
}
.window > *{
    margin: 0.5rem 0;
}
.window.open{
    display: flex;
}
.window .handle{
    background-color: var(--color-accent);
    height: 1rem;
    inset: 0;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
}
.window button{
    background-color: var(--color-accent);
    padding: .5rem;
    border-radius: calc(var(--borderradius)/2);
}
.window button [class^="material"]{
    font-size: 1rem;
    margin-right: .25rem;
}

.window#stats{
    min-height: 100px;
    height: 100px;
    resize: horizontal;
}
.window#stats .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}